<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .navbar {
            margin-bottom: 20px;
        }
        .container {
            max-width: 800px;
        }
        .card {
            margin-bottom: 20px;
        }
        .card-header {
            background-color: #007bff;
            color: #fff;
            font-size: 20px;
        }
        .list-group-item {
            cursor: pointer;
        }
        .color{
            color: black;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Dashboard</a>
</nav>
<div class="container">
    <div class="card">
        <div class="card-header">
            Bienvenido, <span th:text="${username}"></span>
        </div>
        <div class="card-body">
            <a href="/usuario/token" class="btn btn-success mb-3">Dar clic para obtener el JWT</a>
            <h5>Token:</h5>
            <p class="text-monospace" th:text="${token}"></p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Datos
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/usuario/profesores" class="color">Profesores</a></li>
            <li class="list-group-item"><a href="/usuario/grupos" class="color">Grupos</a></li>
            <li class="list-group-item"><a href="/usuario/materias" class="color">Materias</a></li>
            <li class="list-group-item"><a href="/usuario/horarios" class="color">Horarios</a></li>
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
</html>